*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img__div{
    width: 100%;
    height: 60px;
    background-color: rgb(47, 47, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    /* position: relative; */
    position: fixed;
    z-index: 9909;
}
.img{
    width: 10%;
    height: 30%;
}
.button__div{
    background-color: rgb(130, 186, 47);
    border-radius: 7px;
    width: 100px;
    height: 33px;
    color: white;
}
