.card{
    background-color: rgb(180, 15, 15);
    color: white;
    border: none;
    border-radius: 2px;
    width: 35px;
    height: 20px;
}
.p{
    font-size: 12px;
    color: grey;
}
.new__price{
    font-size: 23px;
    color: #62ab00;
}
.card__div{
    display: flex;
    /* flex-wrap: wrap; */
    width: 16%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 60px 30px;
    
}
.price__div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
/* .div__img{
    width: 180px;
    height: 240px;
} */