.section3__div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.shekil__div{
    position: relative;

}
.yazi__div{
    position: absolute;
    top: 0;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.yazi__div p{
    color: rgb(158, 156, 156);
    font-size: 23px;
}
.yazi__div button{
    width: 120px;
    height: 40px;
    background-color: none;
    border: 2px solid orange;
    color: orange;
    border-radius: 4px;
    font-size: 16px;
}
.yazi__div button:hover{
    background-color: orange;
    color: white;
}
.yazi__div2{
    position: absolute;
    top: 0;
    width: 230px;
    height: 200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 25px;
    left: 10px;
    top: 10px;
}
.yazi__div2 button{
    width: 120px;
    height: 40px;
    background: none;
    color: #62ab00;
    border: 2px solid #62ab00;
    border-radius: 4px;
    font-size: 16px;
}
.yazi__div2 h2{
    color: white;
    font-size: 22px;
}
.yazi__div2 p{
    font-size: 30px;
    color: #62ab00;
}
.yazi__div2 button:hover{
    background-color: #62ab00;
    color: white;
}